.createnews{
    margin: 0px 0px 40px 0px;
}
.create-news h1{
    background:linear-gradient( #12c2e9, #c471ed, #f64f59);
    color: transparent;
    background-clip: text;
    font-size: 40px;

}
.btn-create{
    width: 10%;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}